<template name="header">
    <header class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{{homePath}}">Deals for Good</a>
            <ul class="nav">
                <li class="{{activeRouteClass 'home' 'newPosts'}}">
                  <a href="{{homePath}}">Newest</a>
                </li>
                <li class="{{activeRouteClass 'bestPosts'}}">
                  <a href="{{bestPostsPath}}">Best</a>
                </li>
                {{#if currentUser}}
                  <li class="{{activeRouteClass 'postSubmit'}}">
                    <a href="/submit">Add New Org</a>
                  </li>
                  <li class="dropdown">
                    {{> notifications}}
                  </li>
                {{/if}}
		    </ul>
            <ul class="nav pull-right">
                <li>{{loginButtons}}</li>
            </ul>
        </div>
    </header>
</template>