<template name="postSubmit">
	<form class="main">
		<div class="control-group">
			<label class="control-label" for="title">Organization</label>
			<div class="controls">
				<input name="title" type="text" value="" placeholder="Name of organization">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="url">URL</label>
			<div class="controls">
				<input name="url" type="text" value="" placeholder="Organization URL">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="url">Street Address</label>
			<div class="controls">
				<input name="street" type="text" value="" placeholder="Street">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="url">City</label>
			<div class="controls">
				<input name="city" type="text" value="" placeholder="City">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="url">State</label>
			<div class="controls">
				<input name="state" type="text" value="" placeholder="State">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="url">Zip</label>
			<div class="controls">
				<input name="zip" type="text" value="" placeholder="Zip">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="url">Deal</label>
			<div class="controls">
				<input name="deal" type="text" value="" placeholder="Deal">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="description">Description</label>
			<div class="controls">
				<textarea name="description" type="text" value=""/>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary">
			</div>
		</div>
	</form>
</template>