<template name="postPage">
  {{#with currentPost}}
    <div class="post">
      <div class="post">{{> postSummary}}</div>
      <p>
        {{street}}<br/>
        {{city}}, {{state}} {{zip}}<br/>
        <span><a href="{{url}}">{{url}}</a></span>
      </p>
      <p><b>Deal: </b><i>{{deal}}</i></p>
      {{description}}
    </div>
    <p>Comments</p>
    <ul class="comments">
      {{#each comments}}
        {{> comment}}
      {{/each}}
    </ul>
    {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please sign in to leave a comment.</p>
    {{/if}}
  {{/with}}
</template>